<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Liste des joueurs</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link type="text/css" rel="stylesheet" href="style.css" th:href="@{style.css}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <div class="header">
        <a href="#default" class="logo"><img src="images/cubs.png" width="60" height="60"></a>
        <div class="header-right">
            <a class="active" href="#home">Accueil</a>
            <a href="/search">Recherche</a>
            <a href="#">Matches</a>
            <a href="#">Tests</a>
        </div>
    </div>
    <div id="wrapper">
        <h1>Liste des joueurs</h1>
        <table id="players">
            <tr>
                <th>Nom</th>
                <th>Pr&eacute;nom</th>
                <th>Nationalit&eacute;</th>
            </tr>
            <tr th:each = "player : ${players}">
                <td th:text = "${player.lname}"></td>
                <td th:text = "${player.fname}"></td>
                <td th:text = "${player.nationality}"></td>
            </tr>
        </table>
    </div>
    <div class="footer">
        <p> &copy; 2021 DIGIWISE - Tous droits r&eacute;serv&eacute;s.</p>
    </div>
</body>
</html>