<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Authentification</title>
    <link rel="stylesheet" type="text/css" th:href="@{/style/loginstyle.css}">
    <link rel="icon" type="image/icon type" th:href="@{/images/cubs.png}">
</head>
<body>
<form id="login_form">
    <img th:src="@{images/cubs.png}" width="190" height="190">
    <p class="label">Identifiant</p>
    <input type="text" name="" class="field">
    <p class="label">Mot de passe</p>
    <input type="password" name="" class="field">
    <div>
        <input type="submit" name="" class="button" value="Se connecter">
    </div>
    <p id="bott">Vous n'etes pas inscrit? <a href="#">S'inscrire</a></p>
</form>
</body>
</html>