<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Bulletin</title>
    <link rel="stylesheet" type="text/css" th:href="@{style/style.css}">
    <link rel="icon" href="images/cubs.png" type="image/icon type">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style type="text/css">

    </style>
</head>
<body>
<div class="header">
    <a href="#default" class="logo"><img src="images/cubs.png" width="60" height="60"></a>
    <div class="header-right">
        <a class="active" href="#home">Accueil</a>
        <a href="#">Recherche</a>
        <a href="#">Matches</a>
        <a href="#">Tests</a>
    </div>
</div>
<div id="wrapper">
    <h1>Bulletin</h1>
    <table id="players">
        <tr>
            <td>Comp&eacute;tance</td>
            <td>R&eacute;sultats</td>
        </tr>
        <tr >
            <td>Confiance en soi<span> </span></td>
            <td>6</td>
        </tr>
        <tr >
            <td>Goût de l'effort<span> </span></td>
            <td >6</td>
        </tr>
        <tr >
            <td>Concentration</td>
            <td >5.5</td>
        </tr>
        <tr >
            <td>Application</td>
            <td>6</td>
        </tr>
        <tr >
            <td>Joueur Équipier</td>
            <td>5.5</td>
        </tr>
        <tr>
            <td>Position des épaules/jeu de corps</td>
            <td>5.5</td>
        </tr>
        <tr >
            <td>Jonglage</td>
            <td >3.5</td>
        </tr>
        <tr >
            <td>Conduite de balle</td>
            <td >5.5</td>
        </tr>
        <tr >
            <td >Dribbles et feintes</td>
            <td >5.5</td>
        </tr>
        <tr >
            <td >Protection de Ballon</td>
            <td >6</td>
        </tr>
        <tr >
            <td>Première touche<span> </span></td>
            <td >6</td>
        </tr>
        <tr >
            <td >Contrôles<span>  </span>orientés<span> </span></td>
            <td >6</td>
        </tr>
        <tr >
            <td>  </span>aériens</td>
            <td >5.5</td>
        </tr>
        <tr >
            <td >Passes courtes</td>
            <td >6</td>
        </tr>
        <tr >
            <td >Passes moyennes</td>
            <td >6</td>
        </tr>
        <tr >
            <td >Passes longues</td>
            <td >5.5</td>
        </tr>
        <tr >
            <td >Centres</td>
            <td>3.5</td>
        </tr>
        <tr >
            <td >Volée<span> </span></td>
            <td>4</td>
        </tr>
        <tr >
            <td >Tirs</td>
            <td >6</td>
        </tr>
        <tr >
            <td >Jeu de tête</td>
            <td >5</td>
        </tr>
        <tr >
            <td >Pied Faible</td>
            <td >4.5</td>
        </tr>
        <tr>
            <td>1 c 1</td>
            <td>5</td>
        </tr>
        <tr >
            <td >Vision de jeu<span> </span></td>
            <td >5</td>
        </tr>
        <tr >
            <td>Créativité et prise d'initiatives</td>
            <td >5.5</td>
        </tr>
        <tr >
            <td >Placement</td>
            <td >5</td>
        </tr>
        <tr >
            <td >Déplacement</td>
            <td >5</td>
        </tr>
        <tr >
            <td >Attitude à la perte de balle</td>
            <td >5</td>
        </tr>
        <tr >
            <td >Mise en pratique des principes de zone (cadrage,
                couverture, coulissage…)</td>
            <td >5</td>
        </tr>
        <tr >
            <td >Anticipation</td>
            <td >4.5</td>
        </tr>
        <tr >
            <td >Replacement</td>
            <td >5</td>
        </tr>
        <tr >
            <td>Motricité</td>
            <td>5</td>
        </tr>
        <tr >
            <td>Vivacité</td>
            <td >4.5</td>
        </tr>
        <tr >
            <td>Vitesse</td>
            <td >4.5</td>
        </tr>
        <tr >
            <td>Endurance</td>
            <td >5.5</td>
        </tr>
        <tr >
            <td>Puissance</td>
            <td >4</td>
        </tr>
        <tr >
            <td >Souplesse</td>
            <td >4</td>
        </tr>
    </table>
</div>
<div class="footer">
    <p> &copy; 2021 DIGIWISE - Tous droits r&eacute;serv&eacute;s.</p>
</div>
</body>
</html>