<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Calendrier des matches</title>
    <link rel="stylesheet" type="text/css" th:href="@{/style/style.css}">
    <link rel="icon" th:href="@{/images/cubs.png}" type="image/icon type">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div class="header">
    <a href="#default" class="logo"><img th:src="@{/images/cubs.png}" width="60" height="60"></a>
    <div class="header-right">
        <a href="#home">Accueil</a>
        <a href="#">Recherche</a>
        <a class="active" href="#">Matches</a>
        <a href="#">Tests</a>
    </div>
</div>
<div id="wrapper">
    <h1>Calendrier des matches</h1>
    <h3>Mai</h3>
    <table id="myTable">
        <tr class="header">
            <th>Date</th>
            <th>Heure</th>
            <th>Type</th>
            <th>Contre</th>
            <th>R&eacute;sultat</th>
            <th></th>
            <th></th>
        </tr>
        <tr onclick="window.location='#';" style="cursor: pointer;">
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>

</div>
<div class="footer">
    <p> &copy; 2021 DIGIWISE - Tous droits r&eacute;serv&eacute;s.</p>
</div>
</body>
</html>