<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Recherche</title>
    <link rel="stylesheet" type="text/css" th:href="@{/style/style.css}">
    <link rel="icon" th:href="@{/images/cubs.png}" type="image/icon type">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div class="header">
    <a href="#default" class="logo"><img th:src="@{/images/cubs.png}" width="60" height="60"></a>
    <div class="header-right">
        <a href="#home">Accueil</a>
        <a class="active" href="#">Recherche</a>
        <a href="#">Matches</a>
        <a href="#">Tests</a>
    </div>
</div>
<form>
    <div class="search-container">
        <input type="text" class="search" placeholder="Matricule">
        <input type="text" class="date-from" placeholder="Nom">
        <input type="text" class="date-to" placeholder="Pr&eacute;nom">
        <button type="submit" id="button">Recherche</button>
    </div>
</form>
<table id="myTable">
    <tr class="header">
        <th style="width:20%;">Matricule</th>
        <th style="width:40%;">Nom</th>
        <th style="width:40%;">Pr&eacute;nom</th>
    </tr>
    <tr onclick="window.location='#';" style="cursor: pointer;">
        <td>1165</td>
        <td>El Alaoui</td>
        <td>Rayan</td>
    </tr>
</table>
</div>
<div class="footer">
    <p> &copy; 2021 DIGIWISE - Tous droits r&eacute;serv&eacute;s.</p>
</div>
</body>
</html>